<div class="form-card">
  <h2 class="form-title">{{ isEditing ? 'Editar Proyecto' : 'Registrar Nuevo Proyecto' }}</h2>

  <form #projectForm="ngForm" (ngSubmit)="submitProject(projectForm)">
    <div class="form-group">
      <label for="nombre">Nombre del Proyecto</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="project.nombre" required #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="validation-error">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" name="descripcion" [(ngModel)]="project.descripcion" rows="3" required #descripcion="ngModel"></textarea>
      <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="validation-error">
        La descripción es obligatoria.
      </div>
    </div>

    <div class="date-group">
      <div class="form-group">
        <label for="fechaInicio">Fecha de Inicio</label>
        <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="project.fechaInicio" required #fechaInicio="ngModel">
        <div *ngIf="fechaInicio.invalid && (fechaInicio.dirty || fechaInicio.touched)" class="validation-error">
          La fecha de inicio es obligatoria.
        </div>
      </div>

      <div class="form-group">
        <label for="fechaFin">Fecha de Fin Estimada</label>
        <input type="date" id="fechaFin" name="fechaFin" [(ngModel)]="project.fechaFin" required #fechaFin="ngModel">
        <div *ngIf="fechaFin.invalid && (fechaFin.dirty || fechaFin.touched)" class="validation-error">
          La fecha de fin es obligatoria.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="estado">Estado</label>
      <select id="estado" name="estado" [(ngModel)]="project.estado" required #estado="ngModel">
        <option value="" disabled>Seleccione un estado</option>
        <option value="PENDIENTE">Pendiente</option>
        <option value="EN_PROGRESO">En Progreso</option>
        <option value="FINALIZADO">Finalizado</option>
      </select>
      <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="validation-error">
        El estado es obligatorio.
      </div>
    </div>

    <button type="submit" class="submit-button" [disabled]="projectForm.invalid">
      {{ isEditing ? 'Guardar Cambios' : 'Registrar Proyecto' }}
    </button>

    <button *ngIf="isEditing" type="button" class="submit-button btn-cancel" (click)="cancelEdit(projectForm)">Cancelar Edición</button>
  </form>
</div>
